In [3]:
import keras as kr
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

In [5]:
df = pd.read_csv('house_price_full.csv')
df.head(1)

   bedrooms  sqft_living   price
0         3         1340  313000

In [7]:
X = df.copy()
Y  = X.pop('price')
scaler = StandardScaler()
X = scaler.fit_transform(X)
Y = np.log(Y)

In [10]:
X[0]

array([-0.43319764, -0.75325754])

In [11]:
Y[0:2]

0    12.653958
1    14.684290
Name: price, dtype: float64